server:
  port: 8089

spring:
  application:
    name: notification-service

  mail:
    host: ${MAIL_HOST:smtp.gmail.com}
    port: ${MAIL_PORT:587}
    username: ${MAIL_USERNAME:nanijohn460@gmail.com}
    password: ${MAIL_PASSWORD:femrwvgygpiurafn}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        enabled: true
        register: true
        service-name: ${spring.application.name}
        health-check-path: /actuator/health
        health-check-interval: 10s
        instance-id: ${spring.application.name}:${server.port}
        hostname: localhost
        prefer-ip-address: false

app:
  frontend:
    url: ${FRONTEND_URL:http://localhost:4200}
  admin:
    email: ${ADMIN_EMAIL:admin@revticket.com}

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: when-authorized

logging:
  level:
    com.revticket.notification: DEBUG

jwt:
  secret: ${JWT_SECRET:RevTicketSecretKeyForJWTTokenGeneration2024SecureAndLongEnough}
  expiration: 86400000
